<button mat-raised-button color="primary" (click)="start()">Start Capture</button>
<button mat-raised-button (click)="pause()">Pause Capture</button>
<button mat-raised-button (click)="reset()">Reset</button>


<mat-form-field>
  <mat-label>Beats Per Hour</mat-label>
  <input matInput type="number" step="1" [ngModel]="getBph()" (ngModelChange)="setBph($event)">
</mat-form-field>
<mat-checkbox [(ngModel)]="noSleep.keepAwake">Keep Screen Awake</mat-checkbox> <br>



<mat-accordion>
  <mat-expansion-panel #spectrographParent>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filter Audio
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-form-field>
      <mat-label>Filtered Frequency</mat-label>
      <input matInput type="number" step="1" [ngModel]="audioCaptureService.getFrequency()"
        (ngModelChange)="audioCaptureService.setFrequency($event)" min="1" max="22049">
    </mat-form-field>

    Filter Strength <mat-slider min="0" max="400" [ngModel]="audioCaptureService.getBandWidth()"
      (input)="audioCaptureService.setBandWidth($event.value)"></mat-slider>
    <br>

    <app-spectrogram *ngIf="spectrographParent.expanded"></app-spectrogram>
  </mat-expansion-panel>
</mat-accordion>

<br>
Running Time: <span *ngIf="runningTime">{{runningTime}}</span>


<br>
<div *ngIf="chartOptions" style="display: block;" class="chart-container">
  <canvas baseChart width="400" height="400" [data]="lineData" [labels]="labelData" [chartType]="'line'"
    [options]="chartOptions"></canvas>
  <mat-slider [min]="0" [max]="1000000" (input)="scroll = $event.value" [ngModel]="scroll" id="scroller"></mat-slider>
</div>



<br><br><span class="version-text"> v{{getVersion()}}</span>
